.inscripcion {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    top:150px;
    left: 25%;
}
.inscripcion h3{
    font-family: "Tiro kannada", serif;
    color: rgb(19, 111, 89);
    font-size: 2rem;
    opacity: 0.3;
}

.fa-person-digging {
    font-size: 5rem;
    color: rgb(19, 111, 89);
    opacity: 0.3;
    margin-left: 200px;
    padding: 80px;
}

.footer-inscripcion {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    width: 100%;   
    left: 0; 
    bottom: 0;
    color: white;
    height: 40px;
}