.contactanos {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
}
.contactanos-titulo {
    width: 45%;
    display: flex;
    margin: auto;
    text-align: center;
}

.contactanos-titulo h5 {
    font-family: 'Tiro Kannada', serif;
    font-size: 1rem;
}

.contactar-Form {
    border-radius: 10px;
    width: 350px;
    background-color: rgba(255, 246, 204, 0.82);
    padding: 5px;
    margin-right: 200px;
    border: #181919 2px solid;
}